#overview {
    border:.10em solid black;
    background-color: rgb(59, 38, 117);
    padding: 1em;
}

#about {
    border-top:.4em solid white;
    position: relative;
    width: 100%;
    padding-bottom: 2em;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    text-align: center;
    background-image: url('../img/poem_background.jpeg');
}